<h2>Enter Verification Code:</h2>

<%= simple_form_for :verification, url: verify_path, method: :post do |f| %>
  <%= f.input :code, required: true, label: "Verification Code", input_html: { maxlength: 4 } %>
  <%= f.button :submit, "Verify Code" %>
<% end %>
