<p>Добрый день!</p>
<p>Код подтверждения для входа в систему:</p>
<p><%= @code %></p>

<p>Появились вопросы? Напишите в службу технической поддержки: <a href="mailto:otrs@magnat.ru">otrs@magnat.ru</a></p>
