<%# <% if current_user %>
  <%# <%= "Hello #{current_user.first_name} #{current_user.last_name}" %>
  <%# <%= link_to "Log Out", sessions_path, data: {turbo_method: :delete} %>
<%# <% else %>
<div id="home">
  <h2 class="button"><%= link_to "Войти", login_path %></h2>
</div>
<%# <%# <% end % %>
