.button-logout {
  display: inline-block;
  background-color: red;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 25px;
  margin: 8px;
  color: black;
  text-decoration: none;
  border: 1px solid red;

  a, input {
    color: black;
    text-decoration: none;
  }
}
