.button {
  display: inline-block;
  background-color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 25px;
  color: $main;
  margin: 8px 0;
  text-decoration: none;

  a, input, button {
    color: $main;
    text-decoration: none;
  }
}
