.button-red {
  background-color: red;
  font-size: 12px;
  font-weight: 500;
  padding: 12px 25px;
  margin: 8px, 0;
  color: white;
  text-decoration: none;

  a, input {
    color: white;
    text-decoration: none;
  }
}
