.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: auto;
  padding: 40px;
  text-align: center;
  color: $main;
  width: 100%;
  min-height: 100vh;

  .logo {
    width: 50%;
    margin-bottom: 16px;
  }

  @media screen and (min-width: 642px) {
    .logo {
      width: 15%;
    }
  }
}
