<div class="card">
  <h1>Панель Администратора</h1>
  <h2 class="button"><%= link_to "Сотрудники", admin_users_path %></h2>
  <h2 class="button"><%= link_to "Техника", admin_hardwares_path %></h2>
  <h2 class="button"><%= link_to "Назад", users_show_path(current_user) %></h2>
</div>
